.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: white;
    font-size: larger;
}


.behind_modal {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.header {
    text-align: center;
}

.left {
    text-align: center;
    background-color: rgba(86, 170, 86, 0.726);
    padding-left: 5px;
    padding-right: 5px;
}

.right {
    text-align: center;
    background-color: rgba(243, 88, 88, 0.795);
}

.impair {
    background-color: aliceblue;
}

.button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    float: right;
    font-weight: bolder;
    font-size: larger;
}
