.blockCommentary {
    display: flex;
    flex-direction: column;
    width: auto;
}

.blockCommentaryAdapt{
    display: flex;
    flex-direction: column;
}

h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width:fit-content
}

.commentary {
    width: 90%;
}
.commentaryReply {
    width: 80%;
}


.article{
    border-bottom: 1px solid black;
    background-color: whitesmoke;
}

.articleReply{
    background-color: honeydew;
    align-self: flex-end;
    width: 95%;
    word-break: break-all;
}

.existingCommentaries {
    display: flex;
    flex-direction: column;
}

.p {
    float:inline-end;
    margin: 0px;
    color: blue;
    font-size: 12px;
}

.input {
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 4px solid whitesmoke;
}

.inputReply {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: flex-end;
    width: 95%;
}

.button {
    border: 2px solid pink;
    background-color: white;
    align-items: center;
    font-size: medium;
    text-align: center;
}

.buttonAdapt {
    border: 2px solid pink;
    background-color: white;
    align-items: center;
    font-size: medium;
    width:20%;
    text-align: center;
}

.buttonExpand {
    border: 2px solid pink;
    background-color: white;
    align-items: center;
    font-size: medium;
    width:10%;
    text-align: center;
}

.button:active{
    border: 2px solid rgb(152, 27, 255);
    background-color: pink;
}

.buttonModif {
    border: none;
    font-size: medium;
}

.buttonReply {
    border: none;
    font-size: large;
    float:inline-end;
    background-color: transparent;
}

section{
    display:flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.expand {
    border-bottom: 2px solid black;
}

.collapse {
    border-bottom: 1px solid black;
}

.closeReply{
    display: flex;
}

.buttonClose{
    border: none;
    font-size: large;
    background-color: transparent;
}

